
.banner {

}
.banner-content {
	position: relative;
	// .banner-content__title

	&__title {
		position: relative;
	}
	&__title::before {
		content: url(/src/assets/icons/world-class.svg);
		position: absolute;
		left: 60px;
		top: -60px;
		z-index: 1;
		animation: world infinite 4s;
	}
	&__title::after {
		content: url(/src/assets/icons/line.svg);
		position: absolute;
		right: -145px;
		top: -35px;
		z-index: 1;
	}

	// .banner-content__title2

	&__title2 {
		padding-right: 180px;
	}

	// .banner-content__subtitle

	&__subtitle {
		font-family: "Inter";
		font-size: 24px;
		font-weight: 400;
		line-height: 40px;
		color: #e0e5f3;
		max-width: 48%;
		margin-left: 190px;
	}

	// .banner-content__button

	&__button {
		margin-left: 190px;
		margin-top: 44px;
	}

	// .banner-content__work

	&__work {
		position: absolute;
		bottom: -258px;;
		left: -105px;
	}

	// .banner-content__women

	&__women {
		position: absolute;
		left: 765px;
		top: 185px;
        z-index: 10;
	}
    &__women::after {
        content: url(/src/assets/images/women-circle.png);
    }
}

@keyframes world {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05) rotate(5deg);
    }

    100% {
        transform: scale(1);
    }
}