.blog {
	// .blog__title

	&__title {
		margin: 0 0 2.5rem 0;
	}

	// .blog__cards

	&__cards {
		display: flex;
		gap: 32px;
	}

	// .blog__cards-column

	&__cards-column {
		width: 48%;
		margin-bottom: 5rem;
	}

	// .blog__cards-column-image

	&__cards-column-image {
	}

	// .blog__cards-column-label

	&__cards-column-label {
		display: inline-block;
		padding: 5px 12px;
		color: #0c1430;
		background-color: #f3f5f6;
		font-size: 12px;
		font-weight: 500;
		line-height: 18px;
		text-align: center;
		border-radius: 10px;
		margin: 1.5rem 0 1rem 0;
		transition: 0.5s;
		cursor: pointer;
	}
	&__cards-column-label:hover {
		color: $yellow;
	}

	// .blog__cards-column-date

	&__cards-column-date {
	}

	// .blog__cards-column-description

	&__cards-column-description {
		margin: 1.5rem 0 1.5rem 0;
	}

	// .blog__cards-button

	&__cards-button {
	}
}

@media (max-width: 660px) {
	.blog__cards {
		flex-wrap: wrap;
		justify-content: center;
	}
	.blog__cards-column {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.blog__title {
		font-size: 24px;
		line-height: 29px;
		margin: 3.125rem 0 1.5rem 0;
	}
	.blog__cards-column--disabled {
		display: none;
	}
	.blog__cards-column-description {
		font-size: 20px;
	}
}
@media (max-width: 390px) {
	.blog__cards-column {
		text-align: center;
	}
	.blog__cards-column-date {
		font-size: 16px;
		line-height: 24px;
	}
	.blog__cards-column-description {
		font-size: 20px;
		line-height: 38px;
		text-align: center;
	}
	.blog__cards-button {
		display: block;
		margin: 0 auto;
	}
}
