.facts {
    padding-top: 78px;

    // .facts__row

    &__row {
        display: flex;
        justify-content: space-around;
    }

    // .facts__item

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .facts__item-title

    &__item-title {
    }

    // .facts__item-subtitle

    &__item-subtitle {
        color: #E0E5F3;
        padding-top: 8px;
    }
}
