.footer {
	background-color: $bgBlue;
}
.main-footer {
	max-width: 1300px;

	// .main-footer__top

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .main-footer__top-form

	&__top-form {
		margin-top: 3rem;
		background-color: $yellow;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 30px;
		width: 43%;
		padding: 5rem 3rem;
	}

	// .main-footer__top-form-title

	&__top-form-title {
		text-align: center;
		font-size: 20px;
		margin-bottom: 1rem;
	}

	// .main-footer__top-form-email

	&__top-form-email {
		outline: none;
		width: 100%;
		border: none;
		background-color: transparent;
		padding-bottom: 13px;
		border-bottom: 1px solid #0a142f;
		font-family: "Inter";
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		text-align: left;
	}

	&__top-form-button {
		position: relative;
		border: none;
		outline: none;
		background: transparent;
	}
	&__top-form-button::after {
		content: url(/src/assets/icons/arrow-right.svg);
		position: absolute;
	}

	// .main-footer__top-info

	&__top-info {
		width: 22%;
	}

	// .main-footer__top-info-title

	&__top-info-title {
		margin-bottom: 16px;
	}

	// .main-footer__top-info-subtitle

	&__top-info-subtitle {
	}

	// .main-footer__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 2.5rem 0 1.5rem 0;
	}

	// .main-footer__bottom-rights

	&__bottom-rights {
		transition: 0.3s;
		cursor: pointer;
	}
	&__bottom-rights:hover {
		color: $yellow;
	}
	// .main-footer__bottom-privacy

	&__bottom-privacy {
		transition: 0.3s;
		cursor: pointer;
	}

	&__bottom-privacy:hover {
		color: $yellow;
	}
	// .main-footer__bottom-links

	&__bottom-links {
		transition: 0.3s;
		display: flex;
		gap: 1.625rem;
		cursor: pointer;
	}

	&__bottom-links:hover {
		color: $yellow;
	}

	// .main-footer__bottom-links-link

	&__bottom-links-link {
	}

	// .main-footer__bottom-links-link-icon

	&__bottom-links-link-icon {
	}
}

.main-footer {
	// .main-footer__top

	&__top {
		position: relative;
	}
}
.form {
	// .form__ornament

	&__ornament {
		position: absolute;
		top: 1.25rem;
		left: 1.25rem;
	}

	// .form__ornament-img

	&__ornament-img {
	}
}
