.footer {
	background-color: $bgBlue;
}
.main-footer {
	max-width: 1300px;

	// .main-footer__top

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .main-footer__top-form

	&__top-form {
		margin-top: 3rem;
		background-color: $yellow;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 30px;
		width: 43%;
		padding: 5rem 3rem;
		position: relative;
	}

	// .main-footer__top-form-title

	&__top-form-title {
		text-align: center;
		font-size: 20px;
		margin-bottom: 1rem;
	}

	// .main-footer__top-form-email

	&__top-form-email {
		outline: none;
		width: 100%;
		border: none;
		background-color: transparent;
		padding-bottom: 13px;
		border-bottom: 1px solid #0a142f;
		font-family: "Inter";
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		text-align: left;
	}
	&__top-form-email::placeholder {
		color: black;
	}
	// .main-footer__top-info

	&__top-info {
		width: 22%;
	}

	// .main-footer__top-info-title

	&__top-info-title {
		margin-bottom: 16px;
	}

	// .main-footer__top-info-subtitle

	&__top-info-subtitle {
		color: #fff;
	}

	&__top-info-subtitle-tel {
		text-decoration: none;
		color: #fff;
		transition: 0.5s;
	}
	&__top-info-subtitle-tel:hover {
		color: $yellow;
	}
	&__top-info-subtitle-email {
		text-decoration: none;
		color: #fff;
		transition: 0.5s;
	}
	&__top-info-subtitle-email:hover {
		color: $yellow;
	}

	// .main-footer__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 2.5rem 0 1.5rem 0;
	}

	// .main-footer__bottom-rights

	&__bottom-rights {
		transition: 0.5s;
		cursor: pointer;
	}
	&__bottom-rights:hover {
		color: $yellow;
	}
	// .main-footer__bottom-privacy

	&__bottom-privacy {
		transition: 0.5s;
		cursor: pointer;
	}

	&__bottom-privacy:hover {
		color: $yellow;
	}
	// .main-footer__bottom-links

	&__bottom-links {
		transition: 0.5s;
		display: flex;
		gap: 1.625rem;
		cursor: pointer;
	}

	&__bottom-links:hover {
		color: $yellow;
	}

	// .main-footer__bottom-links-link

	&__bottom-links-link {
	}

	// .main-footer__bottom-links-link-icon

	&__bottom-links-link-icon {
	}
}

.main-footer {
	// .main-footer__top

	&__top {
		position: relative;
	}
}
.form {
	// .form__ornament

	// &__ornament {
	// 	position: absolute;
	// 	top: 1.25rem;
	// 	left: -1.75rem;
	// }

	// .form__ornament-img

	&__ornament-img {
	}
}
.form__ornament-img {
	position: absolute;
	left: -30px;
	top: -30px;
}

@media (max-width: 876px) {
	.main-footer__top {
		flex-direction: column;
		gap: 30px;
	}
	.main-footer__top-form {
		width: 90%;
	}
	.main-footer__top-info {
		width: 23%;
		text-align: center;
	}
	.main-footer__top-info-subtitle {
		text-align: center;
		font-size: 16px;
		color: #e0e5f3;
	}
	.main-footer__top-info-subtitle-tel {
		color: #e0e5f3;
	}
	.main-footer__top-info-subtitle-email {
		color: #e0e5f3;
	}
}
@media (max-width: 680px) {
	.main-footer__bottom {
		flex-direction: column-reverse;
	}
	.main-footer__top-info {
		width: 60%;
	}
	.main-footer__bottom-links {
		margin-bottom: 2.5rem;
	}
	.main-footer__bottom-privacy {
		font-size: 16px;
	}
	.main-footer__bottom-rights {
		font-size: 16px;
	}
	.main-footer__top-form {
		padding: 5rem 2rem;
	}
}
@media (max-width: 500px) {
	.main-footer__top-form {
		padding: 4rem 2rem;
	}
	.main-footer__top-form-title {
		line-height: 30px;
	}
}

@media (max-width: 375px) {
	.main-footer__top-form {
		width: 100%;
	}
}
