.wrapper {
	background-color: #0b142f;
	position: relative;
	overflow: hidden;

	&__background {
		background-image: url(/src/assets/images/background.svg);
		background-size: 100vw;
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: top;
	}
}
