@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

h1 {
  font-family: "Inter";
  font-size: 150px;
  font-weight: 700;
  line-height: 85px;
  text-align: center;
  color: #fff;
}

h2 {
  color: #fff;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

h3 {
  font-family: "Inter";
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
}

h4 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  color: #fff;
}

h5 {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}

h6 {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(224, 229, 243);
}

.container {
  max-width: 1140px;
  padding: 15px;
  margin: 0 auto;
}

.wrapper {
  background-color: #0b142f;
  position: relative;
  overflow: hidden;
}
.wrapper__background {
  background-image: url(/src/assets/images/background.svg);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}
.header__content-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 55%;
}
.header__content-nav-link {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  text-decoration: none;
}
.header__content-menu {
  width: 16px;
  height: 2px;
  background-color: #f8f8f8;
  position: relative;
  cursor: pointer;
}
.header__content-menu::before {
  content: "";
  width: 16.5px;
  height: 2px;
  background-color: #f8f8f8;
  top: 6px;
  position: absolute;
}
.header__content-menu::after {
  content: "";
  width: 16.5px;
  height: 2px;
  background-color: #f8f8f8;
  bottom: 6px;
  position: absolute;
}

.main-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  padding: 16px 24px;
  gap: 10px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
}
.main-button::after {
  content: "↗";
  width: 20px;
  height: 20px;
}
.main-button:hover {
  background-color: #FFC93E;
  border: none;
  color: #172048;
}

.button-yellow {
  background-color: #FFC93E;
  color: #0a142f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  padding: 20px 30px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  cursor: pointer;
}
.button-yellow:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.banner-content {
  position: relative;
}
.banner-content__title {
  position: relative;
}
.banner-content__title::before {
  content: url(/src/assets/icons/world-class.svg);
  position: absolute;
  left: 60px;
  top: -60px;
  z-index: 1;
}
.banner-content__title::after {
  content: url(/src/assets/icons/line.svg);
  position: absolute;
  right: -145px;
  top: -35px;
  z-index: 1;
}
.banner-content__title2 {
  padding-right: 180px;
}
.banner-content__subtitle {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  color: #e0e5f3;
  max-width: 48%;
  margin-left: 190px;
}
.banner-content__button {
  margin-left: 190px;
  margin-top: 44px;
}
.banner-content__work {
  position: absolute;
  bottom: -258px;
  left: -105px;
}
.banner-content__women {
  position: absolute;
  left: 765px;
  top: 185px;
  z-index: 10;
}
.banner-content__women::after {
  content: url(/src/assets/images/women-circle.png);
}

.about-us {
  padding-top: 300px;
}

.about-us-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.about-us-content__text {
  max-width: 539px;
  padding-right: 20px;
}
.about-us-content__text-subtitle {
  margin-top: 40px;
  margin-bottom: 48px;
}
.facts {
  padding-top: 78px;
}
.facts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 5rem;
}
.facts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.facts__item-subtitle {
  color: #E0E5F3;
  padding-top: 8px;
}

.solution {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #FFC93E), color-stop(40%, #353F5B));
  background: linear-gradient(to right, #FFC93E 40%, #353F5B 40%);
}
.solution__photo {
  position: relative;
}
.solution__photo-img {
  position: relative;
  z-index: 1;
}
.solution__photo-circle {
  position: absolute;
  top: -4rem;
  left: 32rem;
  z-index: 0;
}
.solution__content {
  max-width: 45%;
  padding-left: 3.75rem;
}
.solution__title {
  margin-bottom: 16px;
}
.solution__item {
  margin: 40px 0;
}
.solution__item-title::before {
  content: url(/src/assets/icons/check-mark.svg);
}
.solution__item-subtitle {
  margin-top: 18px;
  padding-left: 34px;
}

.solution-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6.25rem 0 5.25rem 0;
}

.services-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7.5rem 0 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services-top__title {
  max-width: 23.875rem;
}
.services-top__button {
  margin-right: 25px;
}

.services-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.left__top-card {
  max-width: 95%;
  background-color: #353F5B;
  border-radius: 50px 0px 0px 0px;
  margin: 0 1.875rem 1.875rem 0;
  padding: 5.188rem 2.375rem;
}
.left__bottom-card {
  max-width: 95%;
  background-color: #353F5B;
  border-radius: 0px 0px 0px 50px;
  padding: 5.188rem 2.375rem;
}

.card__title {
  color: #fff;
  margin: 1.5rem 0;
}
.card__subtitle {
  margin-bottom: 2.5rem;
}

.right__top-card {
  max-width: 95%;
  background-color: #353F5B;
  border-radius: 0px 50px 0px 0px;
  margin: 1.875rem 0;
  padding: 5.188rem 2.375rem;
}
.right__bottom-card {
  max-width: 95%;
  background-color: #353F5B;
  border-radius: 0px 0px 50px 0px;
  padding: 5.188rem 2.375rem;
}

.projects__button {
  margin: 0 auto;
}

.projects-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7.5rem 0 3rem;
}
.projects-top__title {
  margin-bottom: 1.5rem;
}
.projects-top__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
}
.projects-top__navigation-link {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-bottom: 48px;
}
.work__card-image {
  width: 100%;
}
.work__card-title {
  margin: 2rem 0;
  max-width: 24.563rem;
}